<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "the front page of my first Elixir/Phoenix project" %></h2>
  <p class="lead">I'm trying to create backend, but you know what? You're looking at the html right now</p>
</div>

<div class="row marketing">
  There I will show users from the db
</div>
